*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#shoppintContainer{
    width: 100%;
    height: auto;
    padding: 10px;
}

#singleProduct{
    width: 250px;
    height: auto;
   border: 1px solid #ddd;
    padding: 10px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 15px;
}
.productImage{
    width: 100%;
    height: auto;
}

.productTitle, .price{
    margin: 10px 0px;
}

.addTocadr, .removeFromCard{
    padding: 5px 15px;
    border: none;
    transition: .2s;
}

.addTocadr:hover{
    cursor: pointer;
    background-color: rgb(160, 158, 158);
    color: #fff;
}

.removeFromCard:hover{
    cursor: pointer;
    background-color: rgb(160, 158, 158);
    color: #fff;
}

.hide{
    display: none;
}

#card{
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
}

#cardHeading{
    margin-bottom: 20px;
    display: block;
}

#demo{
    width: 250px;
    height: auto;
}