h2:hover{
    cursor: pointer;
}

#cardContainer{
    width: 600px;
    min-height: 250px;
    border: 2px solid #ddd;
    margin-left: 30px;
}
#headi{
    padding: 0px 10px;
}

.cardItemStyle{
    border-bottom: 1px solid #ddd;
    padding-left: 10px;
}

.spanStyle{
    border: 1px solid rgb(83, 83, 83);
    padding: 2px 20px;
    margin-left: 400px;
}